body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #13294B;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

main {
    padding: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.bar {
    fill: hsl(216, 60%, 18%);
}
.bar:hover {
    fill: #1e4277;
}
.axis-label {
    font-size: 14px;
    font-weight: bold;
}